* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", sans-serif;
  background-color: #f0f0f0;
}

.logout-container {
  text-align: end;
  margin: 1rem;
}

.adminpanel {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 3rem 2rem;
  gap: 1rem;
  font-size: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 350px;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0.5rem;
  padding: 2rem;
}

.btns {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
}
.btnSearch {
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border: none;
  color: #3d352f;
}
.btnSearch:hover,
.btnSearch:active {
  background-color: #fff;
  color: #3d352f;
}
.productname {
  display: inline-flex;
  max-width: 9rem;
  font-size: 0.9rem;
  align-items: center;
  gap: 0.5rem;
}

.productimg {
  max-width: 30%;
  max-height: 30%;
}

.action {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.addcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.logout-btn {
  padding: 0.3rem 0.6rem;
  background-color: #3d352f;
  color: azure;
  border-radius: 4px;
}
.logout-btn:hover,
.logout-btn:active {
  background-color: #f0f0f0;
  color: black;
  border: none;
}
.container {
  /* max-width: 600px; */
  margin: 2rem auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}
/* dashboardlinks  */
.dashboardlinks {
  text-decoration: none;
  color: black;
}

.dashboardlinks:hover,
.dashboardlinks:active {
  text-decoration: underline;
  color: black;
}
th {
  font-size: 1rem;
  background-color: rgb(236, 236, 243);
}
td {
  font-size: 1rem;
  background-color: rgb(236, 236, 243);
}
.table {
  min-height: 300px;
}
.button {
  padding: 0.3rem 0.6rem;
  background-color: #3d352f;
  color: azure;
  border-radius: 4px;
}
.button:hover,
.button:active {
  background-color: #f0f0f0;
  color: black;
  border: none;
}
.page-link {
  color: #3d352f;
}
