* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", sans-serif;
  background-color: #f0f0f0;
}

.logout-container {
  text-align: end;
  margin: 1rem;
}

.adminpanel {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 2rem 2rem 0;
  gap: 1.6rem;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0.5rem;
  padding: 2rem;
}

.heading-primary {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.table {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.searchbox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.btns {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
}

.productname {
  display: inline-flex;
  max-width: 6rem;
  align-items: center;
  gap: 0.5rem;
}

.productimg {
  width: 35%;
  height: 35%;
}
.action {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.addcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.logout-btn {
  padding: 0.3rem 0.6rem;
  background-color: #3d352f;
  color: azure;
  border-radius: 4px;
}
