* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Lora", serif;
}

.login-container {
  display: flex;
  gap: 3rem;
  margin-top: 10rem;
  margin-left: 30rem;
}

.main-container {
  text-align: center;
}

h2 {
  font-size: 1.4rem;
}
.primary-heading {
  margin-top: 1rem;

  margin-bottom: 3.5rem;
}
.create-btn {
  margin-top: 3rem;
}
.forgot {
  margin-top: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
.heading-primary {
  margin-top: 5rem;
  margin-left: 28rem;
}
/* footer */
.footer-container {
  margin-top: 9rem;
  background-color: #3d352f;
  padding: 4rem 4rem 1.2rem 4rem;
  color: azure;
  font-size: 1.2rem;
}

.footer-link {
  text-decoration: none;
  padding: 1rem;
  color: azure;
}
.footerul {
  list-style: none;
  text-align: start;
}
.copyright {
  padding: 1rem;
  text-decoration: overline;
}
/* nav */
.nav-main {
  display: flex;
  gap: 1.5rem;
  font: size 2rem;
  align-items: center;
}
.nav-container {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.navmain-heading {
  font-size: 2rem;
}
.nav-sec {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.btn-Buynow {
  padding: 0.5rem 1rem;
  background-color: #3d352f;
  color: azure;
  font-size: 1rem;
  margin-top: 2rem;
}
.price-heading {
  font-size: 2rem;
  margin-bottom: 5rem;
}
.primaryContainer {
  margin-top: 6rem;
  margin-bottom: 18rem;
}
.priceContainer {
  font-size: 1.6rem;
}
@media (max-width: 599px) {
  .footer-container .row {
    flex-direction: column;
  }
}
