* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Lora", serif;
  overflow-x: hidden;
}
.login-img {
  width: 35%;
  height: auto;
}

.login-container {
  display: flex;

  gap: 3rem;
  /* margin-top: 5rem; */
  margin-left: 10rem;
}
.formtab {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.input-value {
  font-size: 2.5rem;
  border: none;
  border-bottom: 1px solid rgb(105, 105, 105);
  padding-bottom: 5px;
}
.input-value::placeholder {
  font-size: 1.4rem;
}
.submit-btn {
  margin-top: 1rem;
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  background-color: #3d352f;
  color: azure;
}

/* .main-container {
  /* margin-top: 8rem; */
/* text-align: center; */
/* } */

h2 {
  font-size: 1.4rem;
}
.primary-heading {
  margin-top: 1rem;

  margin-bottom: 3.5rem;
}
.create-btn {
  margin-top: 3rem;
}
.forgot {
  margin-top: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: black;
}
.heading-primary {
  margin-top: 5rem;
  margin-left: 28rem;
}
.primary-heading {
  font-size: 3rem;
  margin-left: 4rem;
}

/* footer */
.footer-container {
  margin-top: 4rem;
  background-color: #3d352f;
  padding: 4rem 4rem 1.2rem 4rem;
  color: azure;
  font-size: 1.2rem;
}

.footer-link {
  text-decoration: none;
  padding: 1rem;
  color: azure;
}
.footerul {
  list-style: none;
  text-align: start;
}
.copyright {
  padding: 1rem;
  text-decoration: overline;
}
/* nav */
.nav-main {
  display: flex;
  gap: 1.5rem;
  font: size 2rem;
  align-items: center;
}
.nav-container {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.navmain-heading {
  font-size: 2rem;
}
.nav-sec {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* ********************* */
.outerContainer {
  margin-top: 9rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 10rem;
}
.priceContainer {
  align-items: center;
  margin-top: 3rem;
  margin-left: 2rem;
}
.pricedetailsp {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.price-heading {
  font-size: 2rem;
}
.btn-Buynow {
  padding: 0.5rem 1rem;
  background-color: #3d352f;
  color: azure;
  font-size: 1rem;
}
.productname {
  display: inline-flex;
  max-width: 30rem;
  font-size: 1.4rem;
  align-items: center;
  font-weight: 500;
  gap: 0.5rem;
}

.productimg {
  max-width: 15%;
  max-height: 15%;
  margin-left: 9rem;
}
.searchbox {
  display: flex;
  gap: 1rem;
  max-width: 300px;
}
/* increment decrement btn */
.counter {
  font-size: 1rem;
  margin-bottom: 20px;
}
.button {
  font-size: 1rem;
  border: none;
  padding: 1px 2px 1px 2px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.countContainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.cardContainer {
  font-size: 1.6rem;
  max-width: 900px;
  margin-left: 4rem;
}
@media (max-width: 1000px) {
  .outerContainer {
    display: flex;
    flex-direction: column;
  }
  tr {
    font-size: 1rem;
  }
  td {
    font-size: 1rem;
  }
  .productname {
    font-size: 1rem;
  }

  .priceContainer {
    align-items: center;
    margin-top: 3rem;
    margin-left: 1rem;
  }
  .pricedetailsp {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
  .price-heading {
    font-size: 1.4rem;
  }
  .footer-container .row {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  .section1-container {
    position: relative;
  }

  .nav-collapsible-btn {
    display: flex;
    position: absolute;
    top: 2%;
    right: 4%;
    color: black;
  }

  .icons-collapsible {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.519);
    /* Add a background color to make it readable */
    border: 1px solid #ccc; /* Add a border for style */
  }

  .icons-collapsible-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .show-icons {
    display: flex;
  }

  .nav-sec {
    display: none;
  }
}

.icons {
  color: black;
  padding: 1rem;
}
.icons:hover {
  color: black;
  padding: 1rem;
  border-radius: 80%;
  background-color: rgba(240, 248, 255, 0.348);
}
#collapsebtn {
  color: black;
}
@media (min-width: 1000px) {
  .nav-collapsible-btn,
  .icons-collapsible,
  .icons-collapsible-btn,
  .show-icons {
    display: none;
  }

  .nav-sec {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
}
.logout-btn {
  padding: 0.5rem 1rem;
  background-color: #3d352f;
  color: azure;
}
.logout-btn:hover,
.logout-btn:active {
  color: rgb(5, 5, 5);
  background-color: #b3aaa3;
}
